* {
    /*Dark mode background colour*/
    --bg-color: #1a1a1a;

    background-color: var(--bg-color);

    /*Dark mode text colour*/
    --text-color: #fff;

    color: var(--text-color);

    /*Dark mode border colour*/
    --border-color: #333;

    border-color: var(--border-color);

    /*Dark mode link colour*/
    --link-color: #00f;

    /*Hide x overflow*/
    overflow-x: hidden;
}

a{
    color: var(--link-color);
}


/*Create title-bounce animation*/
@keyframes title-bounce{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0);
    }
}

/*Title bouncing from left to right in a loop*/
.title{
    animation: title-bounce infinite 2s;
    animation-direction: alternate;
}

.flex-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*Make the body flex-grow*/
    flex-grow: 1;

}

/*Card colour dark mode but lighter*/
.mdc-card{
    background-color: #333;
    color: #fff;
}

